.main-menu{
    list-style: none;
    background-color: black;
    width: 1000px;
}
.main-menu-item:hover>.submenu{
    display: block;
}
.main-menu-item{
    display: inline-block;
    position: relative;
    padding: 10px;
    border-top: 3px solid transparent;
}
.main-menu-item>a{
    color: white;
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}
.main-menu-item>a:hover{
    border-top: 3px solid red ;
}
.submenu{
    display: none;
    position: absolute;
    width: 210px;
    top: 100%;
    list-style: none;
    background-color:white;
    padding-left: 0;
    left: -10px;
    border: 1px solid gray;
}
.submenu-item{
    position: relative;
}
.submenu-link{
    padding: 5px 9px;
    text-decoration: capitalize;
    color:black;
    text-transform: uppercase;
    padding: 3px;
    text-decoration: none;
}
.submenu-item:hover>.submenu{
    display: block;
    left: 100%;
    top: 0;
}
.submenu-item:hover>.submenu-link{
    background-color: rgb(218, 61, 61);
    color: black;
}
.main-menu-item:has(>.submenu)>a::after{
    content: '\23F7';
}
.submenu-item:has(>.submenu)::after{
    content: '\23F5';
}
